<html>  
<head>  
<style type="text/css">
    /*  */
.image-container {
    display: flex;
    flex-wrap: wrap;
}
.image-card {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.image-card img {
    max-width: 100%;
    height: auto;
}
.image-card p {
    margin-top: 10px;
}
    /*  */
.col-md{
    margin-left: 100px;
    width:1000px;
    height: 500px;
}
.container{
    margin-left:150px;
    border-style: groove;
    width: 800px;
    height: auto;
    margin-bottom: 10px;
}
p{
    font-size: large;
}
.in_line{
    display: inline;
}
#input_one_line{
    text-align: center;
    font-size: larger;
    margin-bottom: 25px;
}
h1{
    text-align: center;
}
</style>
<body>  
    <h1>Community Checklist:</h1>
    <div id="input_one_line">
        <p>Builder:</p>
    </div>
    <div id="input_one_line">
        <p>Community:</p>
    </div>
    <!--  -->
        <div class = "container">  
            <div>
            <h1 style="padding-left: 200px;">General Community Conditions!</h1>
            <div class="in_line">
            <p>Off-site signs & billboards in good condition with accurate information</p>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Good signage directing traffic to community</p>            
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Community entrance maintained with fresh landscaping</p>    
            <input type="checkbox" id="id-chk_1_2" name="chk_2_1" value="1">
            <label for="chk_1_1">1</label>    
            <input type="checkbox" id="id-chk_1_2" name="chk_2_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>On-site billboard & flags in good condition</p>    
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Common areas & available homesites well maintained (mowed, graded)</p>       
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Lot signs are accurate and in good condition</p>      
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Streets clean</p>       
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
    </div> 
    </div>
        <!--  -->

        <div class = "container">  
            <div>
                <h1 style="padding-left: 200px;">Model Home!</h1>
                <div class="in_line">
                <p>Flags in good condition</p>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                <label for="chk_1_1">1</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                <label for="chk_1_2">2</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                <label for="chk_1_3">3</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                <label for="chk_1_4">4</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                <label for="chk_1_5">5</label>
            </div>
            <div class="in_line">
            <p>Model signage, in yard, in good condition</p>            
                <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                <label for="chk_1_1">1</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                <label for="chk_1_2">2</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                <label for="chk_1_3">3</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                <label for="chk_1_4">4</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                <label for="chk_1_5">5</label>
            </div>
            <div class="in_line">
            <p>Welcome mat present and in good condition</p>    
                <input type="checkbox" id="id-chk_1_2" name="chk_2_1" value="1">
                <label for="chk_1_1">1</label>    
                <input type="checkbox" id="id-chk_1_2" name="chk_2_2" value="2">
                <label for="chk_1_2">2</label>
                <input type="checkbox" id="id-chk_1_2" name="chk_2_3" value="3">
                <label for="chk_1_3">3</label>
                <input type="checkbox" id="id-chk_1_2" name="chk_2_4" value="4">
                <label for="chk_1_4">4</label>
                <input type="checkbox" id="id-chk_1_2" name="chk_2_5" value="5">
                <label for="chk_1_5">5</label>
            </div>
            <div class="in_line">
            <p>Lawn & landscape well kept, properly planted for the season</p>    
                <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                <label for="chk_1_1">1</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                <label for="chk_1_2">2</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                <label for="chk_1_3">3</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                <label for="chk_1_4">4</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                <label for="chk_1_5">5</label>
            </div>
            <div class="in_line">
            <p>Model clean: free of bugs, dust and cobwebs</p>       
                <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                <label for="chk_1_1">1</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                <label for="chk_1_2">2</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                <label for="chk_1_3">3</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                <label for="chk_1_4">4</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                <label for="chk_1_5">5</label>
            </div>
            <div class="in_line">
            <p>Smell: fresh and welcoming</p>      
                <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                <label for="chk_1_1">1</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                <label for="chk_1_2">2</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                <label for="chk_1_3">3</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                <label for="chk_1_4">4</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                <label for="chk_1_5">5</label>
            </div>
            <div class="in_line">
            <p>Bathrooms stocked (tissues, soap, hand towels, air freshener) and clean</p>       
                <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                <label for="chk_1_1">1</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                <label for="chk_1_2">2</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                <label for="chk_1_3">3</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                <label for="chk_1_4">4</label>
                <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                <label for="chk_1_5">5</label>
            </div>

            <div class="in_line">
                <p>All closets clean and free of trash/clutter</p>       
                    <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                    <label for="chk_1_1">1</label>
                    <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                    <label for="chk_1_2">2</label>
                    <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                    <label for="chk_1_3">3</label>
                    <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                    <label for="chk_1_4">4</label>
                    <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                    <label for="chk_1_5">5</label>
                </div>
                <div class="in_line">
                    <p>All lights in working condition (working bulbs)</p>       
                        <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                        <label for="chk_1_1">1</label>
                        <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                        <label for="chk_1_2">2</label>
                        <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                        <label for="chk_1_3">3</label>
                        <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                        <label for="chk_1_4">4</label>
                        <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                        <label for="chk_1_5">5</label>
                    </div>
                    <div class="in_line">
                        <p>Electrical cords hidden</p>       
                            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                            <label for="chk_1_1">1</label>
                            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                            <label for="chk_1_2">2</label>
                            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                            <label for="chk_1_3">3</label>
                            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                            <label for="chk_1_4">4</label>
                            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                            <label for="chk_1_5">5</label>
                        </div>
                        <div class="in_line">
                            <p>Model temperature comfortable, upstairs and downstairs</p>       
                                <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                                <label for="chk_1_1">1</label>
                                <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                                <label for="chk_1_2">2</label>
                                <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                                <label for="chk_1_3">3</label>
                                <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                                <label for="chk_1_4">4</label>
                                <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                                <label for="chk_1_5">5</label>
                            </div>
                            <div class="in_line">
                                <p>Countertops free of 3rd party material</p>       
                                    <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                                    <label for="chk_1_1">1</label>
                                    <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                                    <label for="chk_1_2">2</label>
                                    <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                                    <label for="chk_1_3">3</label>
                                    <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                                    <label for="chk_1_4">4</label>
                                    <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                                    <label for="chk_1_5">5</label>
                                </div>
                                <div class="in_line">
                                    <p>All cabinets and drawers clean (not used for storage)</p>       
                                        <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                                        <label for="chk_1_1">1</label>
                                        <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                                        <label for="chk_1_2">2</label>
                                        <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                                        <label for="chk_1_3">3</label>
                                        <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                                        <label for="chk_1_4">4</label>
                                        <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                                        <label for="chk_1_5">5</label>
                                    </div>
                                    <div class="in_line">
                                        <p>Business cards displayed near registration card (with pen)</p>       
                                            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                                            <label for="chk_1_1">1</label>
                                            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                                            <label for="chk_1_2">2</label>
                                            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                                            <label for="chk_1_3">3</label>
                                            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                                            <label for="chk_1_4">4</label>
                                            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                                            <label for="chk_1_5">5</label>
                                        </div>

                                        <div class="in_line">
                                            <p>Fridge: refreshments stocked for customers (Personal items hidden)</p>       
                                                <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
                                                <label for="chk_1_1">1</label>
                                                <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
                                                <label for="chk_1_2">2</label>
                                                <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
                                                <label for="chk_1_3">3</label>
                                                <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
                                                <label for="chk_1_4">4</label>
                                                <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
                                                <label for="chk_1_5">5</label>
                                        </div>
                                </div>
</div>
        <!--  -->
        <div class = "container">  
            <div>
            <h1 style="padding-left: 200px;">Finished Inventory!</h1>
            <div class="in_line">
            <p>Inventory is listed on website with accurate information</p>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Electricity to homes on and light bulbs operational</p>            
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Individual flyers for inventory placed in kitchen with business card</p>    
            <input type="checkbox" id="id-chk_1_2" name="chk_2_1" value="1">
            <label for="chk_1_1">1</label>    
            <input type="checkbox" id="id-chk_1_2" name="chk_2_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Finished inventory: Landscape manicured, free of construction trash</p>    
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Available and sold signs straight and clean</p>       
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Inside Homes: Clean, inviting, free of dirt, trash, cobwebs, etc</p>      
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Homes under construction: Trash contained and garage free of debris</p>       
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
    </div> 
    </div>
        <!--  -->
        <div class = "container">  
            <div>
            <h1 style="padding-left: 200px;">Sales Team & Sales Center!</h1>
            <div class="in_line">
            <p>Sales professional present and easily identified</p>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Sales professional dressed professionally</p>            
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Office/Design Center clean, organized and inviting</p>    
            <input type="checkbox" id="id-chk_1_2" name="chk_2_1" value="1">
            <label for="chk_1_1">1</label>    
            <input type="checkbox" id="id-chk_1_2" name="chk_2_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_2" name="chk_2_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Marketing materials in stock, organized, current and easy to locate</p>    
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Brochures assembled, current and with accurate info</p>       
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Blank contracts ready</p>      
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
        <div class="in_line">
        <p>Resources with homesites sold, spec sheets and floor plans</p>       
            <input type="checkbox" id="id-chk_1_1" name="chk_1_1" value="1">
            <label for="chk_1_1">1</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_2" value="2">
            <label for="chk_1_2">2</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_3" value="3">
            <label for="chk_1_3">3</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_4" value="4">
            <label for="chk_1_4">4</label>
            <input type="checkbox" id="id-chk_1_1" name="chk_1_5" value="5">
            <label for="chk_1_5">5</label>
        </div>
    </div> 
    </div>
        <!--  -->
        <div id="input_one_line">
            <p>Inspected By:</p>
            <p>Date:</p>
        </div>

        <div class="col-md">
            <label for="paragraphInput">NOTES-:</label>
            <textarea class="form-control" id="paragraphInput" rows="20" cols="20" maxlength="600" placeholder="Type your notes here"></textarea>
          </div>
<!-- Image code -->
          <div class="image-container">
            <div class="image-card">
                <img src="image1.jpg" alt="Image 1">
                <p>Description for Image 1.</p>
              </div>
          </div>



    </body>  
    </head>  
    </html> 